function Math.init 2
push constant 0
pop local 0
push constant 1
pop local 1
push constant 16
call Array.new 1
pop static 0
label WHILE_EXP0
push local 0
push constant 16
lt
not
if-goto WHILE_END0
push local 0
push static 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
push local 1
push local 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Math.abs 1
push argument 0
pop local 0
push argument 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 1
neg
call Math.multiply 2
pop local 0
label IF_FALSE0
push local 0
return
function Math.multiply 4
push argument 0
pop local 0
push constant 0
pop local 1
push argument 1
call Math.getBitCount 1
pop local 2
push constant 0
pop local 3
label WHILE_EXP0
push local 3
push local 2
lt
not
if-goto WHILE_END0
push argument 1
push local 3
call Math.getBit 2
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push local 0
add
pop local 1
label IF_FALSE0
push local 0
push local 0
add
pop local 0
push local 3
push constant 1
add
pop local 3
goto WHILE_EXP0
label WHILE_END0
push local 1
return
function Math.getBitCount 3
push constant 15
pop local 0
label WHILE_EXP0
push local 0
push constant 0
gt
not
if-goto WHILE_END0
push local 0
push static 0
add
pop pointer 1
push that 0
push argument 0
and
pop local 2
push local 2
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 1
add
return
label IF_FALSE0
push local 0
push constant 1
sub
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 1
return
function Math.getBit 1
push argument 1
push static 0
add
pop pointer 1
push that 0
push argument 0
and
pop local 0
push local 0
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
return
goto IF_END0
label IF_FALSE0
push constant 0
return
label IF_END0
function Math.divide 1
push argument 1
push argument 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push argument 0
push argument 1
push argument 1
add
call Math.divide 2
pop local 0
push argument 0
push local 0
push argument 1
call Math.multiply 2
push constant 2
call Math.multiply 2
sub
push argument 1
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 2
push local 0
call Math.multiply 2
return
label IF_FALSE1
push constant 2
push local 0
call Math.multiply 2
push constant 1
add
return
function Math.sqrt 0
push constant 0
return
function Math.max 1
push argument 0
pop local 0
push argument 1
push argument 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
pop local 0
label IF_FALSE0
push local 0
return
function Math.min 1
push argument 0
pop local 0
push argument 1
push argument 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
pop local 0
label IF_FALSE0
push local 0
return
